

h1 {
 background-color: gold;
 border: 3px solid blue;
 text-align: center;
}

p {background-color: lightgrey;}


#containerperks {
  display: flex;
  flex-direction: row;
  flex-flow:row;
  align-items: baseline;
  justify-content: space-between;

}

.topicitem {
  border-radius: 10px;
  background-color: rgb(221, 166, 28);
  color: black;
  text-align: center;
  margin: 20px;
  width: 500px;
  height:50px;
}

#containerdes{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px
  
}

#links{
  display:flex;
  justify-content: space-around;
  align-items: center;
  gap: 140px
  
  
  
}
