h1 {
 background-color: white;
 border-top: 3px solid black;
 border-bottom: 3px solid red;
 border-left: 3px solid black;
 border-right: 3px solid red;
 text-align: center;
}


h2 {
 background-color: white;
 border-top: 3px solid black;
 border-bottom: 3px solid red;
 border-left: 3px solid black;
 border-right: 3px solid red;
 text-align: center;
}

#containerperks {
  display: flex;
  flex-direction: row;
  flex-flow:row wrap;
  align-items: center;
  justify-content:space-evenly

}

.topicitem {
  border-radius: 10px;
  background-color: red;
  color: white;
  text-align: left;
  margin: 10px;
  width:600px;
  height:25px;

}

.description {
  border-radius: 10px;
  background-color: black;
  color: white;
  text-align: left;
  margin: 20px;
  width:600px;
  height:150px;
}


#containerperksdes {
  display: flex;
  flex-direction: row;
  flex-flow:row wrap;
  align-items: center;
  justify-content:space-evenly

}


#dishes {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start; 
  gap: 20px;
}

.dish-card {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dishitem {
  border-radius: 10px;
  background-color: red;
  color: white;
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
  padding: 8px 0;
}

.dishyap {
  border-radius: 10px;
  background-color: black;
  color: white;
  width: 100%;
  height: 350px;
  padding: 15px;
}

.dishyap img {
  width: 100%;
  height: 180px;
  border-radius: 8px;
  margin-bottom: 10px;
}





