h1 {
 background-color: white;
 border-top: 3px solid red;
 border-bottom: 3px solid red;
 border-left: 3px solid red;
 border-right: 3px solid red;
 text-align: center;
}


h2 {
 background-color: white;
 border-top: 3px solid red;
 border-bottom: 3px solid red;
 border-left: 3px solid red;
 border-right: 3px solid red;
 text-align: center;
}

#dishes {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start; 
  gap: 20px;
}

.dish-card {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dishitem {
  border-radius: 10px;
  background-color: darkred;
  color: white;
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
  padding: 8px 0;
}

.dishyap {
  border-radius: 10px;
  background-color: darkred;
  color: white;
  width: 100%;
  height: 350px;
  padding: 15px;
}

.dishyap img {
  width: 100%;
  height: 180px;
  border-radius: 8px;
  margin-bottom: 10px;
}
.image-piece{
display: flex;
align-items:flex-start;
gap: 20px;
}
.descriptioncards{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.cards{
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
}

